<form mat-dialog-content [formGroup]="historyForm" (ngSubmit)="save()">

    <mat-form-field>
        <mat-label i18n="@@user.history.eventType">Event type</mat-label>
        <mat-select formControlName="eventType">
            <mat-option value="LODGE" i18n="@@user.history.eventType.lodge">Lodge event</mat-option>
            <mat-option value="ORDER" i18n="@@user.history.eventType.order">Order event</mat-option>            
        </mat-select>
        <mat-error *ngIf="hasError('required','eventType')" i18n="@@error.field.required">
            This field is required
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="historyForm.controls.eventType.value==='LODGE'">
        <mat-label i18n="@@user.history.event">Event</mat-label>
        <mat-select formControlName="event">
            <mat-option value="FOUNDED" i18n="@@user.history.event.founded">Founded</mat-option>
            <mat-option value="JOINED" i18n="@@user.history.event.joined">Joined</mat-option>
            <mat-option value="LEFT" i18n="@@user.history.event.left">Left</mat-option>
            <mat-option value="ROLE" i18n="@@user.history.event.role">Role assigned</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('required','event')" i18n="@@error.field.required">
            This field is required
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="historyForm.controls.eventType.value==='ORDER'">
        <mat-label i18n="@@user.history.event">Event</mat-label>
        <mat-select formControlName="event">
            <mat-option value="ROLE" i18n="@@user.history.event.role">Role assigned</mat-option>
            <mat-option value="TITLE" i18n="@@user.history.event.title">Title assigned</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('required','event')" i18n="@@error.field.required">
            This field is required
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="comment" type="text" i18n-placeholder="@@user.history.detail"
            placeholder="Detail">
    </mat-form-field>

    <mat-form-field>
        <mat-label i18n="@@lodge">Lodge</mat-label>
        <mat-select formControlName="lodge">
            <mat-option *ngFor="let lodge of lodges" [value]="lodge">{{lodge.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('required','lodge')" i18n="@@error.field.required">
            This field is required
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label i18n="@@startDate">Start Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label i18n="@@endDate">End Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

</form>

<div mat-dialog-actions>
    <button mat-raised-button (click)="close()" i18n="@@cancel">Cancel</button>
    <button mat-raised-button (click)="save()" color="primary" cdkFocusInitial i18n="@@save">Save</button>
</div>