<mat-toolbar color="primary">
  <a [routerLink]="['/']">
    <object data="assets/logo.svg" type="image/svg+xml" class="mlnr-logo">
      <img src="assets/logo.svg" style="height:3rem" />
    </object>
  </a>
  <div class="lodge-box">
    <strong>Mark Masons România</strong>
    <span>Toleranță și Fraternitate <ng-container i18n="@@lodge.orient">Orient</ng-container>
      București</span>
  </div>
  
  <div class="link-box">
    <a [routerLink]="['/events']" mat-stroked-button i18n="@@events" routerLinkActive="active">Events</a>
    <a [routerLink]="['/charity']" mat-stroked-button i18n="@@charity" routerLinkActive="active">Charity</a>
    <a [routerLink]="['/users']" mat-stroked-button i18n="@@users" routerLinkActive="active">Users</a>
  </div>

  <div class="login-box">
    <span class="mat-body-1">
      <ng-container i18n="@@hello">Hello</ng-container>, Thomas Dunckerley
    </span>
    <button mat-stroked-button (click)="logout()" i18n="@@logout">Logout</button>
  </div>
</mat-toolbar>