<section id="top">
    <mark-top-nav></mark-top-nav>
    <mark-main-nav></mark-main-nav>
    <mark-progress></mark-progress>
    <div id="logo">
        <button mat-button class="mark-logo" [routerLink]="['/blog']"></button>
        <span class="mark-title">Mark Mastermasons</span>
    </div>
</section>
<!-- <main>
    <div class="jumbotron"></div>
</main> -->
<section id="content">
    <router-outlet></router-outlet>
</section>

<section id="bottom">
    <mark-bottom-nav></mark-bottom-nav>
</section>