<div class="mark-users">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" i18n-placeholder="@@filter" placeholder="Filter">
  </mat-form-field>

  <button mat-button i18n="@@users.add" (click)="create()">Add user</button>
  <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="import($event)" accept=".csv" />
  <button mat-button i18n="@@users.import" (click)="csvInput.click()">Import users</button>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@users.lastName"> Last name </th>
      <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@users.firstName"> First name </th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@users.email"> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@users.rank"> Rank </th>
      <td mat-cell *matCellDef="let row">
        <ng-container [ngSwitch]="row.rank">
          <ng-container *ngSwitchCase="'BROTHER'" i18n="@@user.rank.brother">Brother</ng-container>
          <ng-container *ngSwitchCase="'RBROTHER'" i18n="@@user.rank.rbrother">R. Brother</ng-container>
          <ng-container *ngSwitchCase="'MRBROTHER'" i18n="@@user.rank.mrbrother">M.R Brother</ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="orderPrivilege">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@users.orderPrivilege"> Order Privilege </th>
      <td mat-cell *matCellDef="let row">
        <ng-container [ngSwitch]="row.orderPrivilege">
          <ng-container *ngSwitchCase="'USER'" i18n="@@user.orderPrivilege.user">User</ng-container>
          <ng-container *ngSwitchCase="'OFFICER'" i18n="@@user.orderPrivilege.officer">Officer</ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="userStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@users.status"> Status </th>
      <td mat-cell *matCellDef="let row">
        <ng-container [ngSwitch]="row.userStatus">
          <ng-container *ngSwitchCase="'ACTIVE'" i18n="@@active">Active</ng-container>
          <ng-container *ngSwitchCase="'INACTIVE'" i18n="@@inactive">Inactive</ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="onUserSelect(row)">
    </tr>
  </table>

</div>