<h1 mat-dialog-title i18n="@@Contribution.editor">Edit Contribution</h1>
    <form mat-dialog-content [formGroup]="form" (ngSubmit)="save()">

    
        <mat-form-field>
            <input matInput formControlName="description" type="text" i18n-placeholder="@@Contribution.description" placeholder="Description">
            <mat-error *ngIf="hasError('required','description')" i18n="@@error.field.required">
                            This field is required.
            </mat-error>
        </mat-form-field>

    
        <mat-form-field>
            <input matInput formControlName="value" type="text" i18n-placeholder="@@Contribution.value" placeholder="Value">
            <mat-error *ngIf="hasError('required','value')" i18n="@@error.field.required">
                            This field is required.
            </mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label i18n="@@Contribution.dueDate">Due Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="hasError('required','dueDate')" i18n="@@error.field.required">
                            This field is required.
            </mat-error>
        </mat-form-field>
              
    </form>
<div mat-dialog-actions>
    <button mat-raised-button (click)="close()" i18n="@@cancel">Cancel</button>
    <button mat-raised-button (click)="save()" color="primary" cdkFocusInitial i18n="@@save">Save</button>
</div>