<h1 mat-dialog-title i18n="@@attendance">Attendance</h1>
<table mat-dialog-content mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@users.email"> Email </th>
    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@users.name"> Name </th>
    <td mat-cell *matCellDef="let row"> {{row.user.name}} </td>
  </ng-container>

  <ng-container matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@users.rank"> Rank </th>
    <td mat-cell *matCellDef="let row">
      <ng-container [ngSwitch]="row.user.rank">
        <ng-container *ngSwitchCase="'APPRENTICE'" i18n="@@apprentice">Apprentice</ng-container>
        <ng-container *ngSwitchCase="'COMPANION'" i18n="@@companion">Companion</ng-container>
        <ng-container *ngSwitchCase="'MASTER'" i18n="@@master">Master</ng-container>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@users.status"> Status </th>
    <td mat-cell *matCellDef="let row">
      <ng-container [ngSwitch]="row.status">
        <mat-icon disabled *ngSwitchCase="'NOT_INVITED'" i18n-matTooltip="@@attendance.not.invited"
          matTooltip="Not invited">calendar_today</mat-icon>
        <mat-icon color="warn" *ngSwitchCase="'PENDING'" i18n-matTooltip="@@attendance.pending"
          matTooltip="Invitation pending">event_note</mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'INVITED'" i18n-matTooltip="@@attendance.invited" matTooltip="Invited">
          event_note</mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'ACCEPTED'" i18n-matTooltip="@@attendance.accepted"
          matTooltip="Accepted">event_available</mat-icon>
        <mat-icon color="warn" *ngSwitchCase="'REJECTED'" i18n-matTooltip="@@attendance.rejected" matTooltip="Rejected">
          event_busy</mat-icon>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()" i18n="@@cancel">Cancel</button>
  <button mat-raised-button color="primary" cdkFocusInitial i18n="@@attendance.send">Send
    invitation</button>
</div>