<main>
    <div class="jumbotron"></div>

</main>
<br />

<article i18n="@@home-text" markdown>
    The Order of Mark Master Masons is an appendant Order of Freemasonry with Britannic origin, governed by The Grand
    Lodge of Mark Master Masons of England and Wales and its Districts and Lodges Overseas.
    //
    The Order of Mark Master Masons transposes into symbols the evolution of a Freemason Brother throughout his Life of
    Self-improvement. Aided by morality and a force undiminished by the passage of time, the Order places him in
    communion with other Brothers, understanding that any of them can represent the Vault Key, if their work and
    perseverance, their modesty and altruism, their love and care for the Universal Masonic Ideals, are the values that
    they embrace and transmit, in a ritualization full of joy, optimism and positive energy.
    //
    The Degree of Mark Master Mason is open to all Master Masons. The Mark referred to in its title takes its name from
    the mark or symbol with which the stonemason identified his work and can still be found in many cathedrals and
    important buildings around the world.
    //
    Marks have been found on stones used in Ancient Egypt and elsewhere, including castles, churches and in the
    cathedrals of Europe built from 1100 onwards. Stained glass windows, carvings and manuscripts give us some idea of
    the methods of the mediaeval stone masons. Masons carved stones for ordinary building blocks, and also for
    decoration. It became customary for them to place marks upon stones in the quarries. These Marks identified the work
    of a particular mason for the payment of wages, and signified that the stone was acceptable for use. The ceremony of
    advancement to the degree of Mark Master Mason centers on the traditional practice of choosing and using a
    distinguishing mark to identify each craftsman's work, so that he may be entitled to receive his wages. The themes
    of the degree include regularity, diligence and discipline. The Mark degree is one of hope and encouragement. The
    Mark degree demonstrates the merits of persistence in the face of adversity, and the conviction that truth will
    prevail.
    //
    The first mention of a brother being made a Mark Mason was at a Lodge in Newcastle in January 1756, although earlier
    references to a brother having "received his mark' are known. But it is not clear from these records whether a
    degree ceremony was being worked.
    //
    The first meeting of the Grand Lodge of Mark Master Masons was held on Monday, 23 June 1856.
    A Mark Master Mason wears an apron similar to that of a Master Mason, except that the Mark apron is bordered with
    light blue with crimson edges. He also wears a breast jewel in the form of a keystone suspended from a ribbon of
    light blue and crimson.
</article>