<h1 mat-dialog-title i18n="@@event.editor">Edit Event</h1>
<form mat-dialog-content [formGroup]="eventForm" (ngSubmit)="save()">
    <mat-form-field>
        <input matInput formControlName="title" type="text" i18n-placeholder="@@title" placeholder="Title">
        <mat-error *ngIf="hasError('required','title')" i18n="@@error.field.required">
            This field is required.
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="location" type="text" i18n-placeholder="@@location" placeholder="Location">
        <mat-error *ngIf="hasError('required','location')" i18n="@@error.field.required">
            This field is required.
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="startDate" i18n-placeholder="@@date" placeholder="Date"
            [matDatepicker]="dp">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
        <mat-error *ngIf="hasError('required','startDate')" i18n="@@error.field.required">
            This field is required.
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label i18n="@@type">Type</mat-label>
        <mat-select formControlName="eventType">
            <mat-option value="CASUAL" i18n="@@event.type.casual">Casual</mat-option>
            <mat-option value="REGULAR" i18n="@@event.type.regular">Regular workshop</mat-option>
            <mat-option value="SUMMIT" i18n="@@event.type.convent">Convent</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('required','eventType')" i18n="@@error.field.required">
            This field is required
        </mat-error>
    </mat-form-field>
    <quill-editor formControlName="text"></quill-editor>
</form>
<div mat-dialog-actions>
    <button mat-raised-button (click)="close()" i18n="@@cancel">Cancel</button>
    <button mat-raised-button (click)="save()" color="primary" cdkFocusInitial i18n="@@save">Save</button>
    <button mat-raised-button (click)="delete()" i18n="@@delete">Delete</button>
</div>