<nav id="main-nav">
  <nav id="links">
    <a [routerLink]="['/blog']" mat-stroked-button i18n="@@home" routerLinkActive="active">Home</a>
    <a [routerLink]="['/history']" mat-stroked-button i18n="@@history" routerLinkActive="active">History</a>
    <a [routerLink]="['/guidelines']" *ngIf="auth.hasAccess('guidelines')" mat-stroked-button i18n="@@guidelines"
      routerLinkActive="active">Guidelines</a>
    <a [routerLink]="['/users']" *ngIf="auth.hasAccess('people')" mat-stroked-button i18n=" @@people"
      routerLinkActive="active">People</a>
    <a [routerLink]="['/events']" *ngIf="auth.hasAccess('events')" mat-stroked-button i18n=" @@events"
      routerLinkActive="active">Events</a>
    <a [routerLink]="['/charity']" *ngIf="auth.hasAccess('charity')" mat-stroked-button i18n=" @@charity"
      routerLinkActive="active">Charity</a>
  </nav>
  <nav id="utility">
    <!-- <ng-template #login> -->
    <button *ngIf="!auth.loggedIn" mat-stroked-button (click)="auth.login()">Login</button>
    <strong *ngIf="auth.loggedIn">{{auth.userName}}</strong>
    <button  *ngIf="auth.loggedIn" mat-stroked-button (click)="auth.logout()">Logout</button>

    <!-- </ng-template>     -->
    <a class="flag lang-en" href="/"></a>
    <a class="flag lang-ro" href="/ro"></a>
  </nav>

</nav>