<div class="crud-table">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" i18n-placeholder="@@filter" placeholder="Filter">
  </mat-form-field>

  <button mat-button i18n="@@Contribution.add" (click)="create()">Add Contribution</button>

  <table mat-table [dataSource]="dataSource" matSort>
        
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Contribution.description"> Description </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>    

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Contribution.category"> Category </th>
        <td mat-cell *matCellDef="let row">
            <ng-container [ngSwitch]="row.category">
 
                <ng-container *ngSwitchCase="'ORDER'" i18n="@@Contribution.category.ORDER">ORDER</ng-container> 
                <ng-container *ngSwitchCase="'LODGE'" i18n="@@Contribution.category.LODGE">LODGE</ng-container>
            </ng-container>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Contribution.value"> Value </th>
      <td mat-cell *matCellDef="let row"> {{row.value}} </td>
    </ng-container>    

    <ng-container matColumnDef="issueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Contribution.issueDate"> Issue Date </th>
        <td mat-cell *matCellDef="let row"> {{row.issueDate|date}} </td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Contribution.dueDate"> Due Date </th>
        <td mat-cell *matCellDef="let row"> {{row.dueDate|date}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@actions"> Actions </th>
      <td mat-cell *matCellDef="let row"> 
        <button mat-raised-button (click)="deleteRow(row)">Delete</button>  
        <button mat-raised-button (click)="selectUsers(row)">View User Contributions</button>  
      </td>
  </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="onRowSelect(row)">
    </tr>
  </table>

</div>