<nav id="bottom-nav">
  <nav id="bottom-links">
    <a [routerLink]="['/contact']" mat-stroked-button i18n="@@contact" routerLinkActive="active">Contact</a>
    <a [routerLink]="['/faq']" mat-stroked-button i18n="@@faq" routerLinkActive="active">FAQ</a>
    <a [routerLink]="['/media']" mat-stroked-button i18n="@@media" routerLinkActive="active">Media</a>
    <a [routerLink]="['/help']" mat-stroked-button i18n="@@help" routerLinkActive="active">Help</a>
  </nav>
  <nav id="bottom-auth">
    <a [routerLink]="['/login']" mat-stroked-button i18n="@@login">Login</a>
  </nav>
</nav>