<nav>
  <a [routerLink]="['/blog']" mat-stroked-button i18n="@@home" routerLinkActive="active">Home</a>
  <a [routerLink]="['/history']" mat-stroked-button i18n="@@history" routerLinkActive="active">History</a>
  <a [routerLink]="['/guidelines']" *ngIf="auth.hasAccess('guidelines')" mat-stroked-button i18n="@@guidelines"
    routerLinkActive="active">Guidelines</a>
  <a [routerLink]="['/users']" *ngIf="auth.hasAccess('people')" mat-stroked-button i18n=" @@people"
    routerLinkActive="active">People</a>
  <a [routerLink]="['/events']" *ngIf="auth.hasAccess('events')" mat-stroked-button i18n=" @@events"
    routerLinkActive="active">Events</a>
  <a [routerLink]="['/charity']" *ngIf="auth.hasAccess('charity')" mat-stroked-button i18n=" @@charity"
    routerLinkActive="active">Charity</a>
</nav>