<mat-card class="article-card">
    <mat-card-header>
        <mat-card-title>{{article.title}}</mat-card-title>
        <mat-card-subtitle>by {{article.author}} | published: {{article.publishTimestamp|timestamp|date}}
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="article.imageUrl" [alt]="article.title">
    <mat-card-content>
        {{expanded?article.text:article.cutoff}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="expanded=!expanded">
            <mat-icon>{{expanded?'keyboard_arrow_down':'keyboard_arrow_up'}}</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>