<mat-card>
  <mat-card-header>
    <app-progress></app-progress>
    <object data="assets/logo.main.svg" type="image/svg+xml" class="mlnr-logo">
      <img src="assets/logo.main.svg" style="height:6rem" />
    </object>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
      <mat-form-field>
        <input matInput formControlName="email" type="email" i18n-placeholder="@@email" placeholder="Email">
        <mat-error *ngIf="hasError('required','email')" i18n="@@error.email.required">
          Email is required.
        </mat-error>
        <mat-error *ngIf="hasError('email','email')" i18n="@@error.email.invalid">
          Email is invalid
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="lodge" type="text" i18n-placeholder="@@lodge.number" placeholder="Lodge id">
        <mat-error *ngIf="hasError('required','lodge')" i18n="@@error.lodge.required">
          Lodge is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="name" i18n-placeholder="@@name" placeholder="Name">
        <mat-error *ngIf="hasError('required','name')" i18n="@@error.name.required">
          Your full name is required.
        </mat-error>
        <mat-error *ngIf="hasError('minlength','name')" i18n="@@error.name.length">
          Your name must have minimum 6 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" i18n-placeholder="@@password" placeholder="Password">
        <mat-error *ngIf="hasError('required','password')" i18n="@@error.password.required">
          Password is required.
        </mat-error>
        <mat-error *ngIf="hasError('minlength','password')" i18n="@@error.password.length">
          Password must have minimum 6 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="passwordRetype" [errorStateMatcher]="passwordMatcher"
          i18n-placeholder="@@password.repeat" placeholder="Repeat password">
        <mat-error *ngIf="hasError('notSame','passwordRetype')" i18n="@@error.password.match">
          Passwords do not match
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="@@rank">Rank</mat-label>
        <mat-select formControlName="rank">
          <mat-option value="APPRENTICE" i18n="@@apprentice">Apprentice</mat-option>
          <mat-option value="COMPANION" i18n="@@companion">Companion</mat-option>
          <mat-option value="MASTER" i18n="@@master">Master</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('required','rank')" i18n="@@error.rank.required">
          Rank is required
        </mat-error>
      </mat-form-field>
    </form>
    <span class="register-error" *ngIf="error" i18n="@@error.registration">Registration error</span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary" cdkFocusInitial [disabled]="!registrationForm.valid"
      i18n="@@register">Register</button>
    <a mat-raised-button [routerLink]="['/login']" i18n="@@login">Login</a>
  </mat-card-actions>
</mat-card>